<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ParqueoMaishaDB"
         providerName="Microsoft.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ParqueoMaishaDB;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;Application Name=&quot;SistemaParkingMahischa&quot;;Command Timeout=0" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultAdminUser" value="admin" />
    <add key="DefaultAdminCedula" value="000000000" />
    <add key="DefaultAdminPassword" value="admin123" />
    <add key="BusinessName" value="Parqueo Mahischa" />
    <add key="ContactPhone" value="+506 8687 5906 / +506 8366 9729" />
    <!-- Repositorio de GitHub para actualizaciones automáticas, formato "usuario/repositorio". Dejar vacío para desactivar. -->
    <add key="UpdateRepository" value="Estuar05/SistemaParkingMahischa" />
    <add key="MinimumCashAmount" value="50000" />
  </appSettings>
</configuration>
